@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #020005;
    overflow: hidden;
    
}

.background span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



.background span:nth-child(0) {
    color: #557a95;
    top: 43%;
    left: 80%;
    animation-duration: 16s;
    animation-delay: -9s;
    transform-origin: -22vw 24vh;
    box-shadow: 4vmin 0 0.7814371253824428vmin currentColor;
}
.background span:nth-child(1) {
    color: #557a95;
    top: 54%;
    left: 92%;
    animation-duration: 50s;
    animation-delay: -49s;
    transform-origin: 0vw 23vh;
    box-shadow: 4vmin 0 1.0149568378220815vmin currentColor;
}
.background span:nth-child(2) {
    color: #adadad;
    top: 60%;
    left: 55%;
    animation-duration: 29s;
    animation-delay: -28s;
    transform-origin: 3vw 20vh;
    box-shadow: -4vmin 0 1.3146120663849912vmin currentColor;
}
.background span:nth-child(3) {
    color: #557a95;
    top: 47%;
    left: 28%;
    animation-duration: 29s;
    animation-delay: -22s;
    transform-origin: -24vw 9vh;
    box-shadow: 4vmin 0 1.4482973033664621vmin currentColor;
}
.background span:nth-child(4) {
    color: #adadad;
    top: 45%;
    left: 65%;
    animation-duration: 45s;
    animation-delay: -17s;
    transform-origin: 6vw -23vh;
    box-shadow: 4vmin 0 1.4001407025083066vmin currentColor;
}
.background span:nth-child(5) {
    color: #adadad;
    top: 73%;
    left: 21%;
    animation-duration: 6s;
    animation-delay: -24s;
    transform-origin: 11vw 14vh;
    box-shadow: 4vmin 0 0.5461152191497061vmin currentColor;
}
.background span:nth-child(6) {
    color: #557a95;
    top: 22%;
    left: 63%;
    animation-duration: 44s;
    animation-delay: -16s;
    transform-origin: 22vw 9vh;
    box-shadow: 4vmin 0 0.6833131814325142vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 82%;
    left: 89%;
    animation-duration: 19s;
    animation-delay: -10s;
    transform-origin: 14vw -5vh;
    box-shadow: 4vmin 0 0.6266437180728679vmin currentColor;
}
.background span:nth-child(8) {
    color: #adadad;
    top: 9%;
    left: 55%;
    animation-duration: 23s;
    animation-delay: -45s;
    transform-origin: 8vw 20vh;
    box-shadow: -4vmin 0 1.472152794871373vmin currentColor;
}
.background span:nth-child(9) {
    color: #557a95;
    top: 66%;
    left: 53%;
    animation-duration: 36s;
    animation-delay: -12s;
    transform-origin: 18vw 15vh;
    box-shadow: -4vmin 0 0.9843878379129822vmin currentColor;
}
.background span:nth-child(10) {
    color: #adadad;
    top: 70%;
    left: 71%;
    animation-duration: 9s;
    animation-delay: -40s;
    transform-origin: -3vw -5vh;
    box-shadow: -4vmin 0 0.7554316872795759vmin currentColor;
}
.background span:nth-child(11) {
    color: #adadad;
    top: 86%;
    left: 68%;
    animation-duration: 41s;
    animation-delay: -44s;
    transform-origin: 13vw 23vh;
    box-shadow: -4vmin 0 0.990671657468585vmin currentColor;
}
.background span:nth-child(12) {
    color: #557a95;
    top: 49%;
    left: 71%;
    animation-duration: 49s;
    animation-delay: -34s;
    transform-origin: 18vw -20vh;
    box-shadow: -4vmin 0 0.6297643099322556vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 82%;
    left: 22%;
    animation-duration: 12s;
    animation-delay: -5s;
    transform-origin: -19vw 11vh;
    box-shadow: 4vmin 0 1.4651936715750886vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 64%;
    left: 56%;
    animation-duration: 52s;
    animation-delay: -42s;
    transform-origin: -9vw -5vh;
    box-shadow: 4vmin 0 0.5724642558824118vmin currentColor;
}
.background span:nth-child(15) {
    color: #557a95;
    top: 86%;
    left: 82%;
    animation-duration: 55s;
    animation-delay: -20s;
    transform-origin: -23vw 13vh;
    box-shadow: -4vmin 0 1.4709249965705924vmin currentColor;
}
.background span:nth-child(16) {
    color: #E45A84;
    top: 11%;
    left: 2%;
    animation-duration: 14s;
    animation-delay: -47s;
    transform-origin: -18vw 25vh;
    box-shadow: 4vmin 0 0.9895343366448368vmin currentColor;
}
.background span:nth-child(17) {
    color: #583C87;
    top: 37%;
    left: 44%;
    animation-duration: 25s;
    animation-delay: -5s;
    transform-origin: 3vw 19vh;
    box-shadow: 4vmin 0 0.6190727098722155vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 86%;
    left: 59%;
    animation-duration: 28s;
    animation-delay: -25s;
    transform-origin: -12vw -13vh;
    box-shadow: -4vmin 0 0.7635965670150215vmin currentColor;
}
.background span:nth-child(19) {
    color: #adadad;
    top: 31%;
    left: 39%;
    animation-duration: 46s;
    animation-delay: -3s;
    transform-origin: 22vw -15vh;
    box-shadow: 4vmin 0 1.4352656826067538vmin currentColor;
}
.background span:nth-child(20) {
    color: #E45A84;
    top: 32%;
    left: 33%;
    animation-duration: 53s;
    animation-delay: -20s;
    transform-origin: -5vw -15vh;
    box-shadow: 4vmin 0 0.8777297962322439vmin currentColor;
}
.background span:nth-child(21) {
    color: #FFACAC;
    top: 62%;
    left: 13%;
    animation-duration: 24s;
    animation-delay: -41s;
    transform-origin: 21vw 1vh;
    box-shadow: -4vmin 0 0.5274912586487013vmin currentColor;
}
.background span:nth-child(22) {
    color: #583C87;
    top: 69%;
    left: 88%;
    animation-duration: 47s;
    animation-delay: -31s;
    transform-origin: 23vw -23vh;
    box-shadow: 4vmin 0 0.5058323115919456vmin currentColor;
}
.background span:nth-child(23) {
    color: #FFACAC;
    top: 18%;
    left: 93%;
    animation-duration: 26s;
    animation-delay: -45s;
    transform-origin: -12vw -13vh;
    box-shadow: 4vmin 0 0.9562999542040644vmin currentColor;
}
.background span:nth-child(24) {
    color: #583C87;
    top: 67%;
    left: 54%;
    animation-duration: 47s;
    animation-delay: -19s;
    transform-origin: -17vw -10vh;
    box-shadow: -4vmin 0 1.052681315019648vmin currentColor;
}
.background span:nth-child(25) {
    color: #FFACAC;
    top: 34%;
    left: 39%;
    animation-duration: 50s;
    animation-delay: -33s;
    transform-origin: -15vw 13vh;
    box-shadow: 4vmin 0 1.1724750114280178vmin currentColor;
}
.background span:nth-child(26) {
    color: #adadad;
    top: 23%;
    left: 47%;
    animation-duration: 23s;
    animation-delay: -42s;
    transform-origin: 15vw 5vh;
    box-shadow: -4vmin 0 1.3657248653531608vmin currentColor;
}
.background span:nth-child(27) {
    color: #557a95;
    top: 77%;
    left: 32%;
    animation-duration: 32s;
    animation-delay: -27s;
    transform-origin: -3vw 17vh;
    box-shadow: 4vmin 0 1.22205794223941vmin currentColor;
}
