.container0 {
    display: block;
    max-width: 1300px;
    width: 100%;
    margin: auto;
    margin-top: 35vb;
    height: 100vh;
}

.container0 p {
    align-items: center;
    margin-top: -100px;
    margin-bottom: 60px;
    font-size: 2rem;
}

.container1 {

    display: flex;
    align-content: right;
}
.container2{
    display: table;
}

.footer {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 100px;
    padding: 10px;
    padding-top: 10px;
}

footer svg {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;

}




svg#freepik_stories-smiley-face:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-smiley-face.animated #freepik--background-complete--inject-31 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.2s;
    opacity: 0
}

svg#freepik_stories-smiley-face.animated #freepik--Shadow--inject-31 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.2s;
    opacity: 0
}

svg#freepik_stories-smiley-face.animated #freepik--Character--inject-31 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown, 1.5s Infinite linear floating;
    animation-delay: 0.2s, 1.2s;
    opacity: 0
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: #7395ae;
    font-size: 1.5em;
    text-align: center;
}

.footer .row a {
    text-decoration: none;
    color: #adadad;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #557a95;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {

    .container1 {
        display: flex;
        flex-direction: column;
    }

    svg {

        display: block;
        width: 100%;
    }

    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: center;
    }

    .footer .row a i {
        margin: 0% 3%;
    }

    .contactform {
        display: inline-table;
        height: auto;
        width: 100%;
    }

}

.footer .contactform {
    display: block;
    color: #557a95;
    color: #557a95;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
}


.form-header {
    text-align: center;
    margin: 2rem;
    margin-bottom: 4rem;
}

.footer .contactform p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #557a95;
}

.footer .contactform form {
    display: flex;
    flex-direction: column;
    color: #557a95;
}

.footer .contactform form label {
    font-size: 1.5rem;
    color: #557a95;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4px;
    text-align: center;
}

.footer .contactform form input[type="text"],
.footer .contactform form textarea {
    background-color: transparent;
    color: #adaaad;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #557a95;
    font-size: 1.5rem;
    text-align: center;
}

.footer .contactform form input[type="text"]:focus,
.footer .contactform form textarea:focus {
    border-color: #adadad;
    box-shadow: 0 1px 1px #557a95 inset, 0 0 8px rgba(250, 210, 204);
    outline: 0;
}


.footer .contactform form button {
    max-width: 50%;
    max-width: fit-content;
    max-width: max-content;
    background-color: transparent;
    padding: 8px 16px;
    color: #557a95;
    border: 1px solid #557a95;
    margin: 50px auto;
    cursor: pointer;
}

input::placeholder {
    color: #adadad;
}

textarea::placeholder {
    color: #adadad;
}