@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.social-media ul {
    display: inline;
    list-style: none outside none;

}


@media (max-width:720px) {
    .social-media ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


.social-media li  {
    list-style: none;
    display: inline-block;
}

.social-media ul li a {
    margin: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    color: #fad2cc;
    transition: all 0.3s linear;
    border-color: transparent;
}
.social-media a{
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	text-align: center;
	border: 2px solid #DF4C73;
	color: #DF4C73;
	margin-left: 10px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}



.social-media ul li a:hover {
    color: #DF4C73;
    font-size: 40px;
}

.social-media ul li a:hover::after {
    opacity: 1;
    transform: scale(0.8);
    color: #DF4C73;

}

/* .social-media ul li a:hover::before {
    border: #000;
    color: aliceblue;
} */

.social-media ul li a::after {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s linear;

}
.footer ul li a{
    outline: 0;

}